<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="MQTT_SERVER" value="mqtt.gmiot.eu"/>
    <add key="MQTT_PORT" value="1884"/>
    <add key="MQTT_USER" value="iotuser"/>
    <add key="MQTT_PASS" value="0mgergm++"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

</configuration>
